html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app_video {
  position: relative;
  height: 670px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  }

  .app {
    background-color: black;
  }

/* hide scrollbar for chrome safari and opera */
  .app_video::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, Firefox */
  .app_video {
    -ms-overflow-style: none;
    scrollbar-width: none;

  }
